/* Example Custom Tile Name / Title Displayed */
/* commented example is from Nick @nitwit in ST community */
/*
span.n_12 {
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}
span.n_12:before {
  content: "My Lamp";
  text-indent: 0;
  display: block;
  line-height: initial;
  visibility: visible;
}
*/

/* Example Custom On/Off Icons */
/*
div.switch.p_32.on {
    background-image: url('lampon.png');
    background-color: rgba(0, 51, 204, 0.3);
}
div.switch.p_32.off {
    background-image: url('lampoff.png');
    background-color: rgba(0, 51, 204, 0.3);
}
*/

/* Example Custom On/Off Icons for my rock fountain */
/* for this method to work the tile index "p_32" must be known */
/* this can also be done using names as shown in main css file */
/* for this method to work you must use a unique word in the name */

span.n_32 {
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}
span.n_32:before {
  content: "Rock Fountain";
  text-indent: 0;
  display: block;
  line-height: initial;
  visibility: visible;
}

div.switch.p_32.on {
    background-image: url('rockon.png');
    background-color: rgba(0, 51, 204, 0.3);
}
div.switch.p_32.off {
    background-image: url('rockoff.png');
    background-color: rgba(0, 51, 204, 0.3);
}
